# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.crash
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node/General
node_modules
dist
.DS_Store